{% extends "dalec/default/item.html" %}
{% load dalec %}

{% block item_content %}
<div>
    <h3> {{object.content_data.name}} </h3>

    <a href="{{object.content_data.base_url}}/c/{{object.content_data.id}}"
        target="_blank">listes des topics</a>

</div>
<div>
    <button id="btnFadetoggle"
            class="btn btn-primary"
            type="button"
            onclick="$('.api-full').fadeToggle();"
            >
            Voir tout le retour de l'API
    </button>
    <pre class="api-full" style="display: none;"> {{ object.content_data|pprint }} </pre>
</div>
<hr>
{% endblock %}
