{% extends "dalec/default/item.html" %}
{% load dalec %}

{% block item_content %}

<tr>
    <td class="discourse topic title"> 
        <a href="{{object.content_data.post_url}}" target="_blank">
            {{object.content_data.title}}
        </a>
    </td>
    <td class="discourse topic forum">
        <a href="{{object.content_data.base_url}}/c/{{object.content_data.category_id}}" target="_blank">
        {{object.content_data.category.name}}
        </a>
    </td>

    <td class="discourse topic date">
        il y a <span title='{{object.creation_dt|date:"DATE_FORMAT"}}'>
            {{object.content_data.created_at|to_datetime|timesince}}
        </span>
    </td>

    <td>
        <button id="btnFadetoggle"
                class="btn btn-primary"
                type="button"
                onclick="$('.api-full').fadeToggle();"
                >
                Voir tout le retour de l'API
        </button>
            <pre class="api-full" style="display: none;"> {{ object.content_data|pprint }} </pre>
    </td>

</tr>
{% endblock %}
